Repository boostcamp-2020/Project15-B-Client-Based-Formula-Editor, pull requests merged in 2020-11, with the labels that each got.

#1 eslint rules 추가
  .eslintrc.js
  babel.config.js
  package-lock.json
  src/GlobalStyle.js
  src/index.jsx
  src/slice.js
  src/store.js
  webpack.config.js
Labels: config

#2 사이드 바 레이아웃 구현
  .eslintrc.js
  package.json
  src/App.jsx
  src/GlobalStyle.js
  src/containers/BookmarkContainer.jsx
  src/containers/CustomContainer.jsx
  src/containers/RecentContainer.jsx
  src/containers/SideBar.jsx
  src/layouts/ListLayout.jsx
  src/presentationals/BookmarkAddButton.jsx
  src/presentationals/CustomAddButton.jsx
  src/presentationals/CustomForm.jsx
  src/presentationals/CustomItem.jsx
  src/presentationals/CustomList.jsx
  src/presentationals/IconButton.jsx
  src/presentationals/ListItem.jsx
  src/presentationals/SideBarTab.jsx
  test/presentationals/BookmarkAddButton.test.jsx
  test/presentationals/CustomAddButton.test.jsx
  test/presentationals/CustomForm.test.jsx
  test/presentationals/CustomItem.test.jsx
  test/presentationals/CustomList.test.jsx
  test/presentationals/IconButton.test.jsx
  test/presentationals/ListItem.test.jsx
  test/presentationals/SideBarTab.test.jsx
Labels: layout, test

#3 메인 화면 레이아웃 구현
  src/App.jsx
  src/GlobalStyle.js
  src/containers/BodyContainer.jsx
  src/containers/BookmarkContainer.jsx
  src/containers/ControlButtonContainer.jsx
  src/containers/FontContainer.jsx
  src/containers/FooterContainer.jsx
  src/containers/FormulaButtonContainer.jsx
  src/containers/FormulaDropdownContainer.jsx
  src/containers/HeaderContainer.jsx
  src/containers/RecentContainer.jsx
  src/containers/SideBar.jsx
  src/layouts/BodyLayout.js
  src/layouts/ButtonMenuLayout.js
  src/layouts/EditTabHeaderLayout.js
  src/layouts/FontContainerLayout.js
  src/layouts/FooterLayout.js
  src/layouts/FormulaDropdownLayout.js
  src/layouts/ListLayout.js
  src/layouts/MainLayout.js
  src/layouts/SideBarLayout.js
  src/presentationals/CustomForm.jsx
  src/presentationals/DropdownItem.jsx
  src/presentationals/EditTabButton.jsx
  src/presentationals/EditTabHeaderButton.jsx
  src/presentationals/FontColorSelector.jsx
  src/presentationals/FontSizeSelector.jsx
  src/presentationals/FooterButton.jsx
  src/presentationals/FormulaButton.jsx
  src/presentationals/FormulaRepresentation.jsx
  src/presentationals/LatexRepresentation.jsx
  src/presentationals/Title.jsx
  src/slice.js
Labels: layout

#5 폰트 색, 크기, 정렬 지정 기능 구현
  package-lock.json
  package.json
  src/GlobalStyle.js
  src/containers/FontContainer.jsx
  src/icons/alignCenterIcon.jsx
  src/icons/alignLeftIcon.jsx
  src/icons/alignRightIcon.jsx
  src/presentationals/CustomForm.jsx
  src/presentationals/EditTabHeaderButton.jsx
  src/presentationals/FontColorSelector.jsx
  src/presentationals/FontSizeSelector.jsx
  src/presentationals/FormulaRepresentation.jsx
  src/presentationals/LatexRepresentation.jsx
  src/slice.js
Labels: feature

#8 사이드바 탭 및 버튼 아이콘 작업 & 프레젠테이셔널 컴포넌트 렌더링 테스트
  src/GlobalStyle.js
  src/containers/BookmarkContainer.jsx
  src/containers/CustomContainer.jsx
  src/containers/FontContainer.jsx
  src/containers/RecentContainer.jsx
  src/containers/SideBar.jsx
  src/icons/CustomIcon.jsx
  src/icons/DeleteIcon.jsx
  src/icons/EditIcon.jsx
  src/icons/EmptyCustomIcon.jsx
  src/icons/EmptyStarIcon.jsx
  src/icons/FilledCustomIcon.jsx
  src/icons/FilledStarIcon.jsx
  src/icons/PlusIcon.jsx
  src/icons/TimeIcon.jsx
  src/icons/alignCenterIcon.jsx
  src/icons/alignLeftIcon.jsx
  src/icons/alignRightIcon.jsx
  src/layouts/SideBarLayout.js
  src/presentationals/CustomItem.jsx
  src/presentationals/EditTabButton.jsx
  src/presentationals/IconButton.jsx
  src/presentationals/ListItem.jsx
  src/presentationals/SideBarHeader.jsx
  src/presentationals/SideBarTab.jsx
  test/presentationals/CustomItem.test.jsx
  test/presentationals/CustomList.test.jsx
  test/presentationals/DropdownItem.test.jsx
  test/presentationals/EditTabButton.test.jsx
  test/presentationals/EditTabHeaderButton.test.jsx
  test/presentationals/FontColorSelector.test.jsx
  test/presentationals/FontSizeSelector.test.jsx
  test/presentationals/FooterButton.test.jsx
  test/presentationals/FormulaButton.test.jsx
  test/presentationals/FormulaRepresentation.test.jsx
  test/presentationals/IconButton.test.jsx
  test/presentationals/LatexRepresentation.test.jsx
  test/presentationals/ListItem.test.jsx
  test/presentationals/SideBarHeader.test.jsx
  test/presentationals/SideBarTab.test.jsx
  test/presentationals/Title.test.jsx
Labels: layout, test

#4 연산자/문자/수식 버튼에 삽입 기능 구현
  .eslintrc.js
  src/GlobalStyle.js
  src/constants/characterLatex.js
  src/containers/BodyContainer.jsx
  src/containers/FormulaButtonContainer.jsx
  src/containers/FormulaDropdownContainer.jsx
  src/icons/AlphaIcon.jsx
  src/icons/FxIcon.jsx
  src/icons/RootIcon.jsx
  src/layouts/BodyLayout.js
  src/layouts/ButtonMenuLayout.js
  src/layouts/FormulaDropdownLayout.js
  src/presentationals/DropdownItem.jsx
  src/presentationals/DropdownItems.jsx
  src/presentationals/FormulaButton.jsx
  src/presentationals/FormulaRepresentation.jsx
  src/presentationals/LatexRepresentation.jsx
  src/util.js
  test/presentationals/DropdownItem.test.jsx
  test/presentationals/FormulaButton.test.jsx
  test/presentationals/FormulaRepresentation.test.jsx
  test/presentationals/LatexRepresentation.test.jsx
Labels: feature

#6 undo, redo, reset 기능 추가
  src/containers/BodyContainer.jsx
  src/containers/ControlButtonContainer.jsx
  src/icons/RedoIcon.jsx
  src/icons/ResetIcon.jsx
  src/icons/UndoIcon.jsx
  src/slice.js
Labels: feature

#9 사용자가 직접 LaTeX를 입력할 수 있도록 구현
  src/containers/BodyContainer.jsx
  src/presentationals/LatexRepresentation.jsx
Labels: feature

#10 사이드바 스크롤시 그림자 생성 & 버그 몇가지 수정
  src/containers/BookmarkContainer.jsx
  src/containers/RecentContainer.jsx
  src/containers/SideBar.jsx
  src/layouts/ListLayout.js
  src/layouts/MainLayout.js
  src/layouts/SideBarLayout.js
  src/presentationals/FormulaRepresentation.jsx
  src/presentationals/SideBarTab.jsx
  src/slice.js
Labels: bug, layout

#11 사이드바 레이아웃 변경 및 이벤트 최적화 & Undo, Redo, Reset 아이콘 버튼 적용
  src/GlobalStyle.js
  src/containers/ControlButtonContainer.jsx
  src/containers/FontContainer.jsx
  src/containers/SideBar.jsx
  src/icons/FontIcon.jsx
  src/icons/FxIcon.jsx
  src/icons/GreaterThanIcon.jsx
  src/icons/LessThanIcon.jsx
  src/icons/RedoIcon.jsx
  src/icons/ResetIcon.jsx
  src/icons/RootIcon.jsx
  src/icons/UndoIcon.jsx
  src/icons/alignCenterIcon.jsx
  src/icons/alignLeftIcon.jsx
  src/icons/alignRightIcon.jsx
  src/layouts/ButtonMenuLayout.js
  src/layouts/ControlContainerLayout.js
  src/layouts/EditTabHeaderLayout.js
  src/layouts/FontContainerLayout.js
  src/layouts/ListLayout.js
  src/layouts/MainLayout.js
  src/layouts/SideBarLayout.js
  src/presentationals/DropdownItems.jsx
  src/presentationals/EditTabButton.jsx
  src/presentationals/EditTabHeaderButton.jsx
  src/presentationals/FontColorSelector.jsx
  src/presentationals/FontSizeSelector.jsx
  src/presentationals/FooterButton.jsx
  src/presentationals/FormulaButton.jsx
  src/presentationals/FormulaRepresentation.jsx
  src/presentationals/LatexRepresentation.jsx
  src/presentationals/ListItem.jsx
  src/presentationals/SideBarTab.jsx
  src/presentationals/Title.jsx
  src/util.js
  test/presentationals/EditTabHeaderButton.test.jsx
Labels: layout

#12 undo/redo 에러 일부분 해결
  src/containers/BodyContainer.jsx
  src/slice.js
Labels: bug

#14 메인 페이지 overflow 수정 및 사이드바 position 수정
  src/GlobalStyle.js
  src/layouts/SideBarLayout.js
Labels: bug, layout

#15 삽입되지 않는 기호 해결 및 사이드바 on/off 버튼 CSS 추가
  src/constants/characterLatex.js
  src/icons/AlignCenterIcon.jsx
  src/icons/AlignLeftIcon.jsx
  src/icons/AlignRightIcon.jsx
  src/layouts/SideBarLayout.js
Labels: bug

#16 레이아웃 약간의 수정 사항
  src/containers/FormulaButtonContainer.jsx
  src/icons/AlignCenterIcon.jsx
  src/icons/AlignRightIcon.jsx
  src/icons/FontIcon.jsx
  src/icons/FontSizeIcon.jsx
  src/layouts/ButtonMenuLayout.js
  src/layouts/SideBarLayout.js
  src/presentationals/DropdownItems.jsx
  src/presentationals/FontSizeSelector.jsx
  test/presentationals/LatexRepresentation.test.jsx
  test/presentationals/Title.test.jsx
Labels: layout, test
